version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
    allow:
      - dependency-name: "*"
        dependency-type: "production"

  - package-ecosystem: "terraform"
    directory: "/infrastructure/terraform"
    target-branch: "main"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "*"
        dependency-type: "production"
        
  - package-ecosystem: "npm"
    directory: "/ui"
    target-branch: "main"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "*"
        dependency-type: "production"
