name: snomio-$(Date:yyyyMMdd)$(Rev:.r)_$(RealBranchName)

trigger:
  - main

pool:
  vmImage: ubuntu-latest

variables:
  mavenCache: $(Pipeline.Workspace)/.m2/repository
  mavenOptions: '-Dmaven.repo.local=$(mavenCache) -Dmaven.settings.security=never'

steps:

  - bash: |
    if [[ "$(Build.SourceBranch)" =~ refs/heads/(.+) ]]; then
        # Direct branch build
        branchName=${BASH_REMATCH[1]}
    elif [[ "$(Build.SourceBranch)" =~ refs/pull/[0-9]+/merge ]]; then
        # Pull request build
        branchName=${SYSTEM_PULLREQUEST_SOURCEBRANCH#refs/heads/}
    else
        # Fallback or other refs
        branchName="unknown"
    fi
    echo "##vso[task.setvariable variable=RealBranchName]$branchName"
    displayName: 'Set Real Branch Name to $(RealBranchName)'

  - task: MavenAuthenticate@0
    inputs:
      artifactsFeeds: 'snomio'

  - task: Docker@2
    displayName: 'Login to ACR'
    inputs:
      command: login
      containerRegistry: $(containerRegistry)

  - task: Cache@2
    displayName: Cache Maven local repo
    inputs:
      key: 'maven | "$(Agent.OS)" | **/pom.xml'
      restoreKeys: |
        maven | "$(Agent.OS)"
        maven
      path: $(mavenCache)

  - task: Cache@2
    displayName: Cache node_modules
    inputs:
      key: 'npm | "$(Agent.OS)" | $(Build.SourcesDirectory)/ui/package.json'
      path: $(Build.SourcesDirectory)/ui/node_modules
      cacheHitVar: CACHE_RESTORED

  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      options: '-Ddocker.registry.host=$(dockerRegistry) -Ddocker.repository=$(dockerRepository) -Djib.to.tags=$(Build.BuildNumber) -DargLine="-Dims-username=$(imsUsername) -Dims-password=$(imsPassword)"'
      mavenOptions: '$(mavenOptions) -Xmx3072m -Dims-username=$(imsUsername) -Dims-password=$(imsPassword)'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.17'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
      goals: 'package'

  - task: PublishTestResults@2
    displayName: Publish Vitest Results
    inputs:
      testRunTitle: Snomio-vitest-$(Date:yyyyMMdd)$(Rev:.r)_$(RealBranchName)
      testRunner: Junit
      testResultsFiles: 'ui/reports/*.xml'
      failTaskOnFailedTests: true

  - task: PublishCodeCoverageResults@1
    displayName: Publish Code Coverage
    inputs:
      enabled: true
      codeCoverageTool: 'JaCoCo'
      summaryFileLocation: '**/target/site/jacoco/jacoco.xml'
      reportDirectory: '**/target/site/jacoco'
      additionalCodeCoverageFiles: '**/target/jacoco.exec'

  - script: |
      sudo apt-get install rpm
      wget https://github.com/aquasecurity/trivy/releases/download/v0.44.0/trivy_0.44.0_Linux-64bit.deb
      sudo dpkg -i trivy_0.44.0_Linux-64bit.deb
      trivy -v
    displayName: 'Download and install Trivy'
  - task: CmdLine@2
    displayName: "Run trivy scan on snomio"
    inputs:
      script: |
        trivy image --exit-code 0 --severity LOW,MEDIUM --security-checks vuln --timeout 15m $(dockerRegistry)/$(dockerRepository):$(Build.BuildNumber)
        trivy image --exit-code 1 --severity HIGH,CRITICAL --security-checks vuln --timeout 15m $(dockerRegistry)/$(dockerRepository):$(Build.BuildNumber)

  - task: Docker@2
    condition: succeeded()
    displayName: Push image to registry
    inputs:
      containerRegistry: $(containerRegistry)
      repository: $(containerRepository)
      command: push
      tags: |
        $(Build.BuildNumber)

  - task: CmdLine@2
    displayName: Package Helm chart
    inputs:
      script: helm package --dependency-update --destination $(Build.ArtifactStagingDirectory) ./infrastructure/helm

  - task: CopyFiles@2
    displayName: 'Copy deployment script and env specific values.yaml'
    inputs:
      contents: '**/deploy/*'
      targetFolder: '$(Build.ArtifactStagingDirectory)'
      flattenFolders: true

  - publish: $(Build.ArtifactStagingDirectory)
    displayName: Publish Build Artifacts (Snomio Helm Chart, Deploy Script, EnvSpecific.yaml)
    artifact: snomio-helm-deploy
