kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: {{ .Release.Name }}
---
kind: Service
apiVersion: v1
metadata:
  name: snowstorm-service
spec:
  type: ExternalName
  externalName: {{ $.Values.snomio.snowstorm.host }}