version: '3.2'
services:
  db:
    image: nctsacr.azurecr.io/snomio_postgres_db:latest
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5431:5432"

  elasticsearch:
    image: quay.io/aehrc/reduced-amt-elasticsearch:latest
    #  image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    container_name: elasticsearch
    environment:
      - node.name=snowstorm
      - cluster.name=snowstorm-cluster
      - cluster.initial_master_nodes=snowstorm
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"
    #    volumes:
    #      - elastic:/usr/share/elasticsearch/data
    networks:
      elastic:
        aliases:
          - es
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://es:9200" ]
      interval: 1s
      timeout: 1s
      retries: 60
    ports:
      - "127.0.0.1:9200:9200"
    mem_reservation: 4g

  snowstorm:
    image: snomedinternational/snowstorm:latest
    container_name: snowstorm
    restart: always
    depends_on:
      elasticsearch:
        condition: service_healthy
    entrypoint: java -Xms2g -Xmx4g -Delasticsearch.index.max.terms.count=700000 -jar snowstorm.jar --elasticsearch.urls=http://es:9200
    networks:
      elastic:
        aliases:
          - snowstorm
    ports:
      - "8080:8080"
  snomio:
    depends_on:
      db:
        condition: service_healthy
    container_name: snomio
    # change the next line to be nctsacr.azurecr.io/snomio:the_name_of_image
    image: nctsacr.azurecr.io/snomio:snomio-20231017.3_local-docker
    environment:
      - server.port=8090
      - JDK_JAVA_OPTIONS=-Xmx16g
      - spring.datasource.url=jdbc:postgresql://db/snomio
      - spring.datasource.username=snomioapi
      - spring.profiles.active=default
      - security.enable-csrf=false
      - spring.flyway.locations=classpath:classpath:db/migration/postgresql
      - ihtsdo.ap.projectKey=AUAMT
      - ihtsdo.ap.defaultBranch=MAIN
      - ihtsdo.ims.api.url=https://uat-ims.ihtsdotools.org
      - ihtsdo.ims.api.cookie.name=uat-ims-ihtsdo
      - ihtsdo.ims.api.cookie.value=
      - ihtsdo.base.api.url=https://uat-snowstorm.ihtsdotools.org
      - ihtsdo.snowstorm.api.url=http://localhost:8080
      - ihtsdo.ap.api.url=https://uat-snowstorm.ihtsdotools.org/authoring-services
      - snomio.attachments.directory=/opt/data/attachments
      - caching.spring.usersTTL=3600000
    ports:
      - "8081:8090"
    volumes:
      - ./files/attachments:/opt/data
  
  nginx:
    image: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/key.pem:/root/ssl/key.pem
      - ./nginx/cert.pem:/root/ssl/cert.pem
    ports:
      - "443:443"
    depends_on:
      - snomio