snomio:
  image: nctsacr.azurecr.io/snomio:latest
  hostNames:
    - snomio-uat.australiaeast.cloudapp.azure.com
    - uat-snomio.ihtsdotools.org
  snowstorm:
    host: uat-snowstorm.ihtsdotools.org
    apiPath: snowstorm-uat.australiaeast.cloudapp.azure.com
    defaultBranch: MAIN/SNOMEDCT-AU/AUAMT
  attachments:
    store:
      shareName: snomio-dev-attachments
  config:
    spring.flyway.baseline-on-migrate: true
    spring.datasource.url:             jdbc:postgresql://ncts-db.postgres.database.azure.com/snomio_uat
    ihtsdo.ap.api.url:                        https://uat-snowstorm.ihtsdotools.org/authoring-services
    ihtsdo.ims.api.url:                       https://uat-ims.ihtsdotools.org
    ihtsdo.ims.api.cookie.name:               uat-ims-ihtsdo
  tolerations:
    - key: "kubernetes.azure.com/scalesetpriority"
      operator: "Equal"
      value: "spot"
      effect: "NoSchedule"

nginx-ingress:
  controller:
    service:
      annotations:
        service.beta.kubernetes.io/azure-dns-label-name: snomio-uat