snomio:
  image: nctsacr.azurecr.io/snomio:latest
  hostNames:
    - snomio-dev.australiaeast.cloudapp.azure.com
    - dev-snomio.snomedtools.org
    - dev-snomio.ihtsdotools.org
  snowstorm:
    host: uat-snowstorm.ihtsdotools.org
  config:
    spring.flyway.baseline-on-migrate: true
    spring.datasource.url:             jdbc:postgresql://ncts-db.postgres.database.azure.com/snomio_dev
    ap.api.url:                        https://uat-snowstorm.ihtsdotools.org/authoring-services
    ims.api.url:                       https://uat-ims.ihtsdotools.org
    ims.api.cookie.name:               uat-ims-ihtsdo
  tolerations:
    - key: "kubernetes.azure.com/scalesetpriority"
      operator: "Equal"
      value: "spot"
      effect: "NoSchedule"

snowstorm:
  url: https://uat-snowstorm.ihtsdotools.org/snowstorm/snomed-ct
  defaultBranch: MAIN/SNOMEDCT-AU/AUAMT

nginx-ingress:
  controller:
    service:
      annotations:
        service.beta.kubernetes.io/azure-dns-label-name: snomio-dev
